
<div class="page-title">
  <h3 style="color: #00539F">Отделы</h3>
  <button type="button" class="btn btn-default" routerLink="/departs/new">
    Создать отдел
  </button>
</div>

<div
  class="card"
  *ngIf="departs$ | async as departs; else loader">
  <div class="card-content">
    <div class="collection" *ngIf="departs.length !== 0; else emptyDep">
      <a
        *ngFor="let dept of departs"
        [routerLink]="['/departs',dept._id]"
        class="collection-item"
        style="background: #F9F7EE"
      >
        <span class="card-title"> <h4>{{ dept.desc }}</h4> </span>

      </a>
    </div>
    <ng-template #emptyDep>
      <div class="center">
        Нет ни одного отдела
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
