<div>
  <div class="form-group">
    <label>Имя {{userName}} </label>
    <input class="form-control" name="name" [(ngModel)]="userName" #name="ngModel" required>
    <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
      Не указано имя
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" [(ngModel)]="userEmail" #email="ngModel"
           required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
      Некорректный email
    </div>
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input class="form-control" name="phone" [(ngModel)]="userPhone" #phone="ngModel"
           required pattern="[0-9]{10}">
    <div [hidden]="phone.valid || phone.untouched" class="alert alert-danger">
      Некорректный телефон
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="name.invalid || email.invalid || phone.invalid"
            class="btn btn-default" (click)="addUser()">Добавить</button>
  </div>
</div>


